#IMPORTING LIBRARIES

In [78]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# import the data set

In [79]:
data=pd.read_csv("/content/cars.csv")

##First five columns of the data set

In [80]:
data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
0,Acura,MDX,SUV,Asia,All,"$36,945","$33,337",3.5,6.0,265.0,17.0,23.0,4451.0,106.0,189.0
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0

## Basic step for the Analysis

In [81]:
def get_basic(d):
  return (
          "******INFORMATION OF THE DATA FRAME",d.info(),
          "*****NULL VALUES******",d.isnull().sum(),
          "*****SHAPE OF DATA FRAME******",d.shape,
          "******FIRST FIVE COLUMNS******",d.head(),
          "******VALUE COUNTS*******",d.value_counts(),
          "******SUMARY OF DATA FRAME****",d.describe()
          )

In [82]:
get_basic(data)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 432 entries, 0 to 431
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Make         428 non-null    object
 1   Model        428 non-null    object
 2   Type         428 non-null    object
 3   Origin       428 non-null    object
 4   DriveTrain   428 non-null    object
 5   MSRP         428 non-null    object
 6   Invoice      428 non-null    object
 7   EngineSize   428 non-null    float64
 8   Cylinders    426 non-null    float64
 9   Horsepower   428 non-null    float64
 10  MPG_City     428 non-null    float64
 11  MPG_Highway  428 non-null    float64
 12  Weight       428 non-null    float64
 13  Wheelbase    428 non-null    float64
 14  Length       428 non-null    float64
dtypes: float64(8), object(7)
memory usage: 50.8+ KB

('******INFORMATION OF THE DATA FRAME',
 None,
 '*****NULL VALUES******',
 Make           4
 Model          4
 Type           4
 Origin         4
 DriveTrain     4
 MSRP           4
 Invoice        4
 EngineSize     4
 Cylinders      6
 Horsepower     4
 MPG_City       4
 MPG_Highway    4
 Weight         4
 Wheelbase      4
 Length         4
 dtype: int64,
 '*****SHAPE OF DATA FRAME******',
 (432, 15),
 '******FIRST FIVE COLUMNS******',
     Make           Model   Type Origin DriveTrain      MSRP   Invoice  \
 0  Acura             MDX    SUV   Asia        All  $36,945   $33,337
 1  Acura  RSX Type S 2dr  Sedan   Asia      Front  $23,820   $21,761
 2  Acura         TSX 4dr  Sedan   Asia      Front  $26,990   $24,647
 3  Acura          TL 4dr  Sedan   Asia      Front  $33,195   $30,299
 4  Acura      3.5 RL 4dr  Sedan   Asia      Front  $43,755   $39,014

    EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  \
 0         3.5        6.0       265.0      17.0         23.0  4451.0
 1         2.0        4.0       200.0      24.0         31.0  2778.0
 2         2.4        4.0       200.0      22.0         29.0  3230.0
 3         3.2        6.0       270.0      20.0         28.0  3575.0
 4         3.5        6.0       225.0      18.0         24.0  3880.0

    Wheelbase  Length
 0      106.0   189.0
 1      101.0   172.0
 2      105.0   183.0
 3      108.0   186.0
 4      115.0   197.0  ,
 '******VALUE COUNTS*******',
 Make        Model                      Type   Origin  DriveTrain  MSRP      Invoice   EngineSize  Cylinders  Horsepower  MPG_City  MPG_Highway  Weight  Wheelbase  Length
 Acura       3.5 RL 4dr                 Sedan  Asia    Front       $43,755   $39,014   3.5         6.0        225.0       18.0      24.0         3880.0  115.0      197.0     1
 Mitsubishi  Lancer LS 4dr              Sedan  Asia    Front       $16,722   $15,718   2.0         4.0        120.0       25.0      31.0         2795.0  102.0      181.0     1
             Lancer ES 4dr              Sedan  Asia    Front       $14,622   $13,751   2.0         4.0        120.0       25.0      31.0         2656.0  102.0      181.0     1
             Galant GTS 4dr             Sedan  Asia    Front       $25,700   $23,883   3.8         6.0        230.0       18.0      26.0         3649.0  108.0      191.0     1
             Galant ES 2.4L 4dr         Sedan  Asia    Front       $19,312   $17,957   2.4         4.0        160.0       23.0      30.0         3351.0  108.0      191.0     1
                                                                                                                                                                             ..
 Ford        Taurus SES Duratec 4dr     Sedan  USA     Front       $22,735   $20,857   3.0         6.0        201.0       19.0      26.0         3313.0  109.0      198.0     1
             Taurus SE                  Wagon  USA     Front       $22,290   $20,457   3.0         6.0        155.0       19.0      26.0         3497.0  109.0      198.0     1
             Taurus LX 4dr              Sedan  USA     Front       $20,320   $18,881   3.0         6.0        155.0       20.0      27.0         3306.0  109.0      198.0     1
             Ranger 2.3 XL Regular Cab  Truck  USA     Rear        $14,385   $13,717   2.3         4.0        143.0       24.0      29.0         3028.0  111.0      188.0     1
 Volvo       XC90 T6                    SUV    Europe  All         $41,250   $38,851   2.9         6.0        268.0       15.0      20.0         4638.0  113.0      189.0     1
 Length: 426, dtype: int64,
 '******SUMARY OF DATA FRAME****',
        EngineSize   Cylinders  Horsepower    MPG_City  MPG_Highway  \
 count  428.000000  426.000000  428.000000  428.000000   428.000000
 mean     3.196729    5.807512  215.885514   20.060748    26.843458
 std      1.108595    1.558443   71.836032    5.238218     5.741201
 min      1.300000    3.000000   73.000000   10.000000    12.000000
 25%      2.375000    4.000000  165.000000   17.000000    24.000000
 50%      3.000000    6.000000  210.000000   19.000000    26.000000
 75%      3.900000    6.000000  255.000000   21.250000    29.000000
 max      8.300000   12.000000  500.000000   60.000000    66.000000

             Weight   Wheelbase      Length
 count   428.000000  428.000000  428.000000
 mean   3577.953271  108.154206  186.362150
 std     758.983215    8.311813   14.357991
 min    1850.000000   89.000000  143.000000
 25%    3104.000000  103.000000  178.000000
 50%    3474.500000  107.000000  187.000000
 75%    3977.750000  112.000000  194.000000
 max    7190.000000  144.000000  238.000000  )

# Find all the null values in the data frame and fill it with mean

In [83]:
data.isnull().sum()
data["Cylinders"]=data["Cylinders"].fillna(data["Cylinders"].mean())
data=data.dropna()
data.isnull().sum()

Make           0
Model          0
Type           0
Origin         0
DriveTrain     0
MSRP           0
Invoice        0
EngineSize     0
Cylinders      0
Horsepower     0
MPG_City       0
MPG_Highway    0
Weight         0
Wheelbase      0
Length         0
dtype: int64

Check what are the different types of make are there in the data Frame and their occurence

Number of makes in the data frame

In [84]:
data.head()
data["Make"].value_counts().count()

38

Occurence with the value

In [85]:
data["Make"].value_counts()

Toyota           28
Chevrolet        27
Mercedes-Benz    26
Ford             23
BMW              20
Audi             19
Honda            17
Nissan           17
Volkswagen       15
Chrysler         15
Dodge            13
Mitsubishi       13
Volvo            12
Jaguar           12
Hyundai          12
Subaru           11
Pontiac          11
Mazda            11
Lexus            11
Kia              11
Buick             9
Mercury           9
Lincoln           9
Saturn            8
Cadillac          8
Suzuki            8
Infiniti          8
GMC               8
Acura             7
Porsche           7
Saab              7
Land Rover        3
Oldsmobile        3
Jeep              3
Scion             2
Isuzu             2
MINI              2
Hummer            1
Name: Make, dtype: int64

Show all the records where the orgin is asia or europe

In [86]:
data.head()
data[(data["Origin"]=="Asia")|(data["Origin"]=="Europe")].shape[0]
#The 281 rows are the having asia and Europe

281

Remove the unwanted records whose weight is above 4000

In [90]:
data.head()
data=data[(data["Weight"] <=4000)]
data

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,24.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,22.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,20.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,18.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,18.0,24.0,3893.0,115.0,197.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
427,Volvo,C70 LPT convertible 2dr,Sedan,Europe,Front,"$40,565","$38,203",2.4,5.0,197.0,21.0,28.0,3450.0,105.0,186.0
428,Volvo,C70 HPT convertible 2dr,Sedan,Europe,Front,"$42,565","$40,083",2.3,5.0,242.0,20.0,26.0,3450.0,105.0,186.0
429,Volvo,S80 T6 4dr,Sedan,Europe,Front,"$45,210","$42,573",2.9,6.0,268.0,19.0,26.0,3653.0,110.0,190.0
430,Volvo,V40,Wagon,Europe,Front,"$26,135","$24,641",1.9,4.0,170.0,22.0,29.0,2822.0,101.0,180.0
431,Volvo,XC70,Wagon,Europe,All,"$35,145","$33,112",2.5,5.0,208.0,20.0,27.0,3823.0,109.0,186.0

Apply the functio increase all the values of MGP_city by 3

In [93]:
def increase_value(h):
  return h+3

In [103]:
data["MPG_City"]=data["MPG_City"].apply(increase_value)
data.head()

,Make,Model,Type,Origin,DriveTrain,MSRP,Invoice,EngineSize,Cylinders,Horsepower,MPG_City,MPG_Highway,Weight,Wheelbase,Length
1,Acura,RSX Type S 2dr,Sedan,Asia,Front,"$23,820","$21,761",2.0,4.0,200.0,33.0,31.0,2778.0,101.0,172.0
2,Acura,TSX 4dr,Sedan,Asia,Front,"$26,990","$24,647",2.4,4.0,200.0,31.0,29.0,3230.0,105.0,183.0
3,Acura,TL 4dr,Sedan,Asia,Front,"$33,195","$30,299",3.2,6.0,270.0,29.0,28.0,3575.0,108.0,186.0
4,Acura,3.5 RL 4dr,Sedan,Asia,Front,"$43,755","$39,014",3.5,6.0,225.0,27.0,24.0,3880.0,115.0,197.0
5,Acura,3.5 RL w/Navigation 4dr,Sedan,Asia,Front,"$46,100","$41,100",3.5,6.0,225.0,27.0,24.0,3893.0,115.0,197.0